.add {
    margin-bottom: 40px;
}

.form label {
    display: block;
    font-size: 1.2rem;
    margin-left: 10%;
}

.form input {
    width: 90%;
    height: 35px;
    margin-left: 5%;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
}

.form2{
    margin-bottom: 10px;
}
.form2 label{
    display: inline-block;
    font-size: 1.2rem;
    margin-left: 10%;
    margin-right: 10%;
}

.form2 input{
    transform: scale(1.5);
}

.btn {
    display: block;
    width: 92%;
    margin-left: 5%;
    background-color: black;
    color: white;
    height: 40px;
    font-size: 1.3rem;
    font-weight: 550;
    border-radius: 5px;
}